<!DOCTYPE html>
<html>

<head>
    <meta lang="en">
    <meta charset="UTF-8">
    <title>BURGERTIME</title>
    <link rel='icon' href='./burger_logo'>
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link rel='stylesheet' href='./normalize.css'>
    <link rel='stylesheet' href="./skeleton.css">
    <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet">
    <link rel='stylesheet' href="./style.css">

</head>

<body>
    <header>
        <div class='container'>
            <div class='row'>
                <h1 class="head-title">BURGERTIME</h1>
            </div>
        </div>

    </header>
    {{{body}}}
    <footer>
        <div class='container'>
            <div class='row'>
                <h3>Created By: Ryan Mobley</h3>
            </div>
        </div>

    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script type="text/javascript" src='./burger_logic.js'></script>
</body>

</html>