<div class='container main-content'onload="bodyOnLoad();">
    <div class='row'>
        <h1 class='body-title'>Pick a Burger!</h1>
        <button id="new-burger">add a burger</button>

    </div>
    <div class='row burger-container'>
        <div class="six columns">
            <div id='Burger-menu'>
                <img id="burger-pic" class="pics" src='./burger_icon' alt='burger'>
                
            </div>
        </div>
        <div class="six columns">
            <div id='Burger-bin'>
                <img id='burger-plate' class="pics" src='./burger_plate' alt='plate'>
                
            </div>
        </div>
    </div>
    
</div>