<div class='container'>
    <form>
        <div class="row">
            
            <div class="six columns">
                <label for="pattys">How many patties?</label>
                <select class="u-full-width the-meats" id="pattys">
                    <option value="Single">Single</option>
                    <option value="Double">Double</option>
                    <option value="Triple">Triple</option>
                    <option value="Mega">Mega</option>
                    <option value="Double Mega">Double Mega</option>
                    
                </select>
                <label for="cheese">What Kind of Cheese?</label>
                <select class="u-full-width the-meats" id="cheese">
                    <option value="Burger">Burger</option>
                    <option value="Cheese Burger">Cheese Burger</option>
                    <option value="Extra Cheesey Burger">Extra Cheesey Burger</option>
                </select>

                
            </div>
            <div class='six columns' id='topping-list'>
                <label for="ingredient">Select Toppings</label>
                <select class="u-full-width ingredient" id='topping-0'>
                    <option value="Pickle">Pickles</option>
                    <option value="Onion">Onions</option>
                    <option value="Red Onion">Red Onions</option>
                    <option value="Pepper">Peppers</option>
                    <option value="Mushroom">Mushrooms</option>
                    <option value="Avocado">Avocado</option>
                    <option value="Bacon">Bacon</option>
                </select>
            </div>
        </div>
        <button class="form-reader" id='more-toppings' type="button" value="&#43" data-topCount="0">&#43 Add Topping</button>
        <button class="form-reader" id='go-back' type="button" value="Back">Back</button>
        <button class="form-reader" id='submit-burger' type="button" value="Submit">Submit</button>
    </form>
</div>